# 伺服器設定
PORT=3000
NODE_ENV=production

# 測試用 MongoDB 設定
DATABASE=mongodb+srv://jake85631200:<PASSWORD>@e-commerce-project.61qpc.mongodb.net/
DATABASE_PASSWORD=mongodb1201

# JWT 設定
JWT_SECRET=ksdu938e3194r44373918y3182j39vms
JWT_EXPIRES_IN=7d

# JWT Cookie 設定
JWT_COOKIE_SECRET=dfiewcjmu9034nvjb4301nvjfjvr9v4rvnju0rfvap
JWT_COOKIE_EXPIRES_IN=30

# 郵件設定 (Gmail)
GMAIL_SEND_FROM=powmart0101@gmail.com
GMAIL_APP_PASSWORD=ekithcwjztgxjtqk

# 測試郵件設定（Mailtrap）
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USERNAME=<YOUR_EMAIL_USERNAME>
EMAIL_PASSWORD=<YOUR_EMAIL_PASSWORD>

# 測試用 Redis 設定
REDIS_ENDPOINT_USERNAME=default
REDIS_ENDPOINT_URI=redis-11510.c294.ap-northeast-1-2.ec2.redns.redis-cloud.com
REDIS_ENDPOINT_PORT=11510
REDIS_ENDPOINT_PASSWORD=I0sw8CnGwBqtPeo2SI8pZ87ShcBGS1BF

# 本地 Redis 設定
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=<YOUR_LOCAL_REDIS_PASSWORD>

# 測試用 Stripe 設定
STRIPE_PUBLISHABLE_KEY=pk_test_51QLQ4AI3a5BAumhdTw8QzW29h7wbMei3VthvME7cNwYM5FmPB5brLtQRuPP1G836Pqj7M0ryKIc265qIN7vHmWSc00tf1qzk09
STRIPE_SECRET_KEY=sk_test_51QLQ4AI3a5BAumhd4iyxH625PBkdaF1hkd1W0HLM2c7Xa9QDjfQOdgApmLNwymXlx8pfY3kweEol9MnGmuNmr9de00zrH2r6BD
STRIPE_WEBHOOK_SECRET=whsec_d0fcc71131287e4ec9949a7bb135f2c62254f85c58dbe25687eb17181538bd06

# 測試用 Cloudinary 設定
CLOUDINARY_CLOUD_NAME=do1djwnhm
CLOUDINARY_API_KEY=358236433853446
CLOUDINARY_SECRET_KEY=nqzI5AaV7h0aaqDBOPqFa7A30z8