extends base

block content
  main
    .carts
      h1.mt-5.ml-5.pt-5 My Products
      .carts-container
        // Item Titles
        .title-container
          .item-titles
            .title-group-1
              .checkbox-container
                .checkbox
                  input.checkbox__input(type="checkbox", tabindex="0", role="checkbox")
              .title-name Product
            .title-group-2
              .title-sold Sold
              .title-price Price
              .title-stock Stock
              .title-operate Operate
        // My Products
        .item-info
          .item
            .item-group-1
              .checkbox-container
                .checkbox
                  input.checkbox__input(type="checkbox", tabindex="0", role="checkbox")
              .img-container
                img.prod-img(src="/public/img/product-1.jpg", alt="Product Image")
              .item-name Smartphone - Model X
            .item-group-2
              .item-sold 30
              .item-price $799.99
              .item-stock 200
              .item-operate
                .btn delete
                .btn edit
          .item
            .item-group-1
              .checkbox-container
                .checkbox
                  input.checkbox__input(type="checkbox", tabindex="0", role="checkbox")
              .img-container
                img.prod-img(src="/public/img/product-1.jpg", alt="Product Image")
              .item-name Smartphone - Model X
            .item-group-2
              .item-sold 30
              .item-price $799.99
              .item-stock 200
              .item-operate
                .btn delete
                .btn edit
          .item
            .item-group-1
              .checkbox-container
                .checkbox
                  input.checkbox__input(type="checkbox", tabindex="0", role="checkbox")
              .img-container
                img.prod-img(src="/public/img/product-1.jpg", alt="Product Image")
              .item-name Smartphone - Model X
            .item-group-2
              .item-sold 30
              .item-price $799.99
              .item-stock 200
              .item-operate
                .btn delete
                .btn edit
          .item
            .item-group-1
              .checkbox-container
                .checkbox
                  input.checkbox__input(type="checkbox", tabindex="0", role="checkbox")
              .img-container
                img.prod-img(src="/public/img/product-1.jpg", alt="Product Image")
              .item-name Smartphone - Model X
            .item-group-2
              .item-sold 30
              .item-price $799.99
              .item-stock 200
              .item-operate
                .btn delete
                .btn edit
          .item
            .item-group-1
              .checkbox-container
                .checkbox
                  input.checkbox__input(type="checkbox", tabindex="0", role="checkbox")
              .img-container
                img.prod-img(src="/public/img/product-1.jpg", alt="Product Image")
              .item-name Smartphone - Model X
            .item-group-2
              .item-sold 30
              .item-price $799.99
              .item-stock 200
              .item-operate
                .btn delete
                .btn edit
          .item
            .item-group-1
              .checkbox-container
                .checkbox
                  input.checkbox__input(type="checkbox", tabindex="0", role="checkbox")
              .img-container
                img.prod-img(src="/public/img/product-1.jpg", alt="Product Image")
              .item-name Smartphone - Model X
            .item-group-2
              .item-sold 30
              .item-price $799.99
              .item-stock 200
              .item-operate
                .btn delete
                .btn edit
      section.checkout-summary.fixed-bottom
        .item-overview
          .item-titles
            .checkbox-container
              .checkbox
                input.checkbox__input(type="checkbox", tabindex="0", role="checkbox")
            .item-selected selected(1)
            .selected-statement Total (1 item)
            .checkout
              a.btn.btn-warning.custom-item-btn(href="#") Delete
