extends base

block content
  main
    .orders
      h1.mt-5.ml-5.pt-5 My Orders
      .orders-container
        // Order Titles
        .title-container
          .item-titles
            .title-group-1
              .title-name Order
            .title-group-2
              .title-price Price
              .title-quantity Quantity
              .title-total Total
              .title-date Purchase Date
        // Order Items
        .item-info
          .item
            .item-group-1
              .img-container
                img.prod-img(src="/public/img/product-1.jpg", alt="Product Image")
              .item-name Smartphone - Model X
            .item-group-2
              .item-price $799.99
              .item-quantity 1
              .item-total $799.99
              .item-date 2024-01-01
