extends base

block content
  main
    .main-content
      //- Title-container
      .main-container.text-center.py-5
        h1 Welcome!
        p An e-commerce site, not much goods!

      form.search-bar-form.d-flex.justify-content-center(style="margin-top: 20px", role="search")
        input.form-input.mr-sm-2(
          style="margin-right: 10px; width: 500px",
          type="search",
          placeholder="Search",
          aria-label="Search"
        )
        button.btn.btn-warning(type="submit") Search
      //- Product-container
      .container.mt-4
        include product_partial.pug
