extends base

block content
  main
    .login-container(style="text-align: center")
      h1(style="margin: 40px 0") Login
      form.login-form
        input(type="text", placeholder="Email")
        input(type="password", placeholder="Password")
        button.btn.btn-outline-warning Login
        button.btn.btn-outline-info(type="button")
          | Forget password?
