html,
body {
  margin: 0 auto;
  height: 100%;
}

main {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.969);
  border-radius: 3px;
  min-height: 100vh;
}

.navbar {
  height: 70px;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav-divine {
  border-left: 2px solid #f7f4f4;
  height: 100%;
}

.nav-guides {
  display: flex;
  align-items: baseline;
}

.nav-profile {
  text-decoration: none;
  padding: 8px 0px 8px 16px;
  border-left: 2px solid rgba(255, 255, 255, 0.476);
}

.nav__user-img {
  width: 38px;
  height: 38px;
  border-radius: 90px;
}

.profile {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.profile-card {
  display: flex;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.user-info-form,
.user-password-form {
  width: 100%;
}

.form-group {
  display: flex;
  width: 500px;
  margin: 20px;
}

.info-title,
.security-title {
  text-align: left;
  padding-right: 20px;
  /* padding-bottom: 20px; */
  width: 50%;
}

.info-content,
.security-content {
  width: 100%;
  height: 100%;
}

.gender {
  margin-right: 5px;
}

.form-actions {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 90px;
  margin: auto;
}

.user-image.large {
  height: 120px;
}

.choose-image {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid rgb(219, 219, 219);
  background-color: #f8f9fa;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.carts {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* .custom-cart-btn {
  background-color: #ffd700;
  border-color: #ffd700;
} */

.title-container,
.item-info {
  margin: 50px 0;
}

.item-titles,
.item {
  display: flex;
  align-items: center;
  border: 3px solid rgb(244, 243, 243);
  border-radius: 3px;
  padding: 20px 15px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.title-group-1 {
  width: 50%;
  text-align: center;
}
.item-group-1 {
  width: 50%;
  display: flex;
  align-items: center;
}

.title-group-2,
.item-group-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.title-price,
.item-price,
.title-quantity,
.item-quantity,
.title-total,
.item-total,
.title-delete,
.item-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-price,
.item-price,
.title-quantity,
.item-quantity {
  width: 16%;
}

.title-total,
.item-total {
  width: 10%;
}

.title-delete,
.item-delete {
  width: 13%;
}

.decrease-btn,
.increase-btn {
  display: flex;
  cursor: pointer;
}

.qt-input {
  width: 30px;
  text-align: center;
  margin: 0 10px;
}

.item-selected {
  width: 76%;
}

.selected-statement {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.checkout {
  display: flex;
  justify-content: center;
  width: 13%;
}

.price-total {
  margin-left: 10px;
}

.alert {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  width: 400px;
}

.bi {
  width: 16px;
  height: 16px;
}

.login-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 130px auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 15%;
  height: auto;
  margin-bottom: 20px;
}

.send-email-form,
.send-verify-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reset-password-btn {
  margin: 10px 0px;
  width: 20%;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.prod-img {
  height: 80px;
  width: 80px;
}

.title-name {
  width: 46%;
}

.item-name {
  width: 35.55%;
  padding-left: 10px;
}

.product {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-container {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  /* max-width: 50%;
  width: 100%; */
  justify-content: space-evenly;
}

.prod-description {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-bottom: 20px;
}

.prod-reviews {
  width: 1200px;
  margin-bottom: 20px;
}

.image-block {
  max-width: 30%;
  height: auto;
}

.review-container {
  display: flex;
  justify-content: space-between;
}

.reviews {
  max-width: 45%;
  display: flex;
  flex-direction: column;
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
}

.review {
  height: auto;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 5px;
}

.review-content {
  margin: 10px;
}

.user-name {
  margin-bottom: 5px;
}

.user-comment {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  height: auto;
  white-space: wrap;
  margin-top: 10px;
  margin-bottom: 0px;
}

.user-comment.expanded {
  display: block;
  -webkit-line-clamp: unset;
}

.toggle-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-rating {
  margin: 0px;
}

.leave-comment {
  width: 45%;
}

.comment-container {
  height: 200px;
  margin-top: 20px;
}

.comment-textarea {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 150px;
  resize: none;
  text-align: left;
}

.star-rating {
  margin-left: 10px;
}

.star {
  max-width: 22px;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  position: relative;
}

.span-box {
  display: flex;
  position: absolute;
  top: -15px;
  left: 3px;
  width: 30px;
  height: 30px;
}

.span-left,
.span-right {
  display: inline-block;
  width: 15px;
  height: 30px;
}

.submit-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle-button {
  color: rgb(187, 186, 186);
  font-style: italic;
  text-decoration: underline;
  padding: 0px;
}

.main-container {
  margin-top: 56px;
  background-color: #ffd700;
}

.card {
  cursor: pointer;
  max-width: 259px;
  height: 430px;
}

.main-content {
  height: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
}

.card-img-container {
  width: 259px;
  height: 259px;
}

.card-img-top {
  width: 259px;
  height: 259px;
  /* border-bottom: 1px solid rgba(199, 199, 199, 0.846); */
}

.card-body {
  width: 259px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-outline-dark {
  margin-right: 0.5rem;
}
